<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>自己的课程表</title>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">我的课程表</a>
          </div>
        </div>
    </nav>

    <div class="container">
            <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">选择您的学校</h3>
                    </div>
                    <div class="panel-body">
                            <a href="login?school=tsmc" class="list-group-item">泰山医学院</a>
                            <br>
                            <a href="login?school=sdau" class="list-group-item">山东农业大学</a>
                    </div>
            </div>
    </div>
</body>

</html>